body {
  background-color: black;
  color: white;
}
#div {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
h1 {
  font-family: Baskerville, sans-serif;
  text-transform: uppercase;
}
img {
  width: 100%;
  border: 5px solid white;
}
