body {
  background-color: black;
  color: white;
}
#div {
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
img {
  width: 90%;
  height: 80%;
  border: 5px solid #bfc9d1;
}
